alabaster==1.0.0
attrs==24.3.0
babel==2.16.0
certifi==2024.12.14
charset-normalizer==3.4.1
docutils==0.21.2
idna==3.10
imagesize==1.4.1
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
packaging==24.2
Pygments==2.19.1
referencing==0.35.1
requests==2.32.3
requests-file==2.1.0
rpds-py==0.22.3
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-data-viewer==0.1.5
sphinx-needs==4.2.0
sphinx-rtd-theme==3.0.2
sphinx_reredirects==0.1.5
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxext-opengraph==0.12.0
sphinxnotes-any==2.5
sphinxnotes-comboroles==1.0
sphinxnotes-strike==1.2.1
urllib3==2.3.0
Wand==0.6.13
