alabaster==0.7.12
Babel==2.10.3
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
Deprecated==1.2.13
docutils==0.17.1
Flask==2.2.2
idna==3.4
imagesize==1.4.1
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
livereload==2.6.3
MarkupSafe==2.1.1
packaging==21.3
py-buzz==2.1.3
Pygments==2.13.0
pyparsing==3.0.9
pytz==2022.5
requests==2.28.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-reredirects==0.1.1
sphinx-rtd-theme
sphinx-view==0.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxnotes-strike==1.2
tornado==6.2
typer==0.4.2
urllib3==1.26.12
Werkzeug==2.2.2
wrapt==1.14.1
