{% extends "!footer.html" %}

{% block contentinfo %}
<p><strong>Need help?</strong> search <a href="{{ pathto('/introduction/issue-tracking') }}#search-tips">the issue tracker</a>, <a href="{{ pathto('/introduction/support') }}#mailing-lists">the mailing-lists</a>, <a href="https://forum.qubes-os.org">the forum</a>, or <a href="{{ pathto('/introduction/support') }}#chat">the chats</a>. If you don't find the solution, feel free to <a href="{{ pathto('/introduction/support') }}#i-didn-t-find-a-solution-or-an-answer">ask for help</a>.</p>

  {{ super() }}
{% endblock %}
