---
layout: full
title: Hardware Compatibility List (HCL)
permalink: /hcl/
model: all
redirect_from: /compatible-hardware/
---

<div id="hcl">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <h4>Hardware Type</h4>
      <p>
        <a href="#hardware-laptops" class="btn btn-primary btn-block" href=""><i class="fa fa-laptop"></i> Laptop Devices</a>
      </p>
      <p>
        <a href="#hardware-desktops" class="btn btn-primary btn-block" href=""><i class="fa fa-desktop"></i> Desktop, Workstation &amp; Servers</a>
      </p>
      <p>
        <a href="#hardware-motherboards" class="btn btn-primary btn-block" href=""><i class="fa fa-server"></i> Motherboards</a>
      </p>
      <hr>
      <p>
        <a href="/doc/hcl/#generating-and-submitting-new-reports" class="btn btn-default btn-block" href=""><i class="fa fa-plus"></i> Add Your Device</a>
      </p>
      <h4>Information</h4>
      <ul>
        <li><a href="/doc/hcl/">What is the Hardware Compatibility List (HCL)?</a></li>
        <li><a href="/doc/hcl/#generating-and-submitting-new-reports">How do I Submit a Report?</a></li>
        <li><a href="/doc/system-requirements/">Qubes OS System Requirements</a></li>
        <li><a href="/doc/certified-hardware/">Certified Hardware</a></li>
      </ul>
    </div>
    <div class="col-lg-9 col-md-9">
      <h4>Marks &amp; Colours</h4>
      <table class="table table-bordered">
      <tr>
        <td width="25%" class="success text-center"><strong>yes</strong><br> feature is working correctly</td>
        <td wdith="25%" class="info text-center"><strong>unknown</strong><br>a blank cell indicates we lack information</td>
        <td width="25%" class="warning text-center"><strong>partial</strong><br>some tweaking is needed, see remarks for more information</td>
        <td width="25%" class="danger text-center"><strong>no</strong><br>does not work or is not present</td>
      </tr>
      </table>
      <h4>List Columns</h4>
      <table class="table table-bordered table-responsive">
      <tr>
        <td><strong>Model</strong></td>
        <td>Manufacturer and Devicename (Socket/CPU, Chipset/Southbridge, Graphics)</td>
      </tr>
      <tr>
        <td><strong>BIOS</strong></td>
        <td>Reported BIOS version</td>
      </tr>
      <tr>
        <td><a class='ext-link' href='https://en.wikipedia.org/wiki/Hardware_virtual_machine'>HVM</a></td>
        <td>
          <a class='ext-link' href='https://en.wikipedia.org/wiki/Intel_VT-x#Intel-VT-x'>Intel VT-x</a> or <a class='ext-link' href='https://en.wikipedia.org/wiki/AMD-V#AMD_virtualization_.28AMD-V.29'>AMD-v</a> technology (required for running HVM domains, such as <a class='ext-link' href='/doc/WindowsAppVms/'>Windows-based AppVMs</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a class='ext-link' href='https://en.wikipedia.org/wiki/IOMMU'>IOMMU</a>
        </td>
        <td>
          Intel VT-d or AMD IOMMU technology (required for effective isolation of network VMs and <a class='ext-link' href='https://wiki.xen.org/wiki/Xen_PCI_Passthrough'>PCI passthrough</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a class='ext-link' href='https://en.wikipedia.org/wiki/Second_Level_Address_Translation'>SLAT</a>
        </td>
        <td>
          Second Level Address Translation (SLAT): Intel VT-x support for Extended Page Tables (EPT) or AMD-V support for Rapid Virtualization Indexing (RVI).
        </td>
      </tr>
      <tr>
        <td><a class='ext-link' href='https://en.wikipedia.org/wiki/Trusted_Platform_Module'>TPM</a></td>
        <td>
          TPM with proper BIOS support (required for <a class='ext-link' href='/doc/AntiEvilMaid/'>Anti Evil Maid</a>)
        </td>
      </tr>
      <tr>
        <td><strong>Qubes</strong></td>
        <td>Reported Qubes version (R=Release, rc=release candidate, B=Beta, i.e.: R1, R2B1, R2rc1)</td>
      </tr>
      <tr>
        <td>
          <a class='ext-link' href='https://en.wikipedia.org/wiki/Linux_kernel#Maintenance'>Kernel</a>
        </td>
        <td>
          Reported <a class='ext-link' href='https://en.wikipedia.org/wiki/Dom0'>dom0</a> kernel version (numbers in uname -r), can be selected during installation and boot in Troubleshooting menu
        </td>
      </tr>
      <tr>
        <td><strong>Remark</strong></td>
        <td>Further information field. Qubes, Kernel and this field is coloured in conjunction to reflect general machine compatibility
        </td>
      </tr>
      <tr>
        <td><strong>Credit</strong></td>
        <td>Name linked to report in <a class='ext-link' href='https://groups.google.com/forum/#!forum/qubes-users'>qubes-users</a></td>
      </tr>
    </table>
    </div>
  </div>

  <h2 id="hardware-laptops" class="add-left"><i class="fa fa-laptop"></i> Laptop Devices</h2>
  <table class="table table-hover table-bordered table-responsive more-bottom" align="center">
    <tr>
      <th style="width=23%">Model</th>
      <th style="width=42px">BIOS</th>
      <th style="width=32px">HVM</th>
      <th style="width=32px">IOMMU</th>
      <th style="width=32px">SLAT</th>
      <th style="width=32px">TPM</th>
      <th style="width=42px">Qubes</th>
      <th style="width=42px">Xen</th>
      <th style="width=42px">Kernel</th>
      <th>Remark</th>
      <th style="width=20%">Credit</th>
    </tr>
    {% for device in site.hcl %}
    {% if device.type == 'laptop' or device.type == 'notebook' %}
    {% include hcl-device.html %}
    {% endif  %}
    {% endfor %}
  </table>

  <h2 id="hardware-desktops" class="add-left"><i class="fa fa-desktop"></i> Desktop, Workstation &amp; Server</h2>
  <table class="table table-hover table-bordered table-responsive more-bottom" align="center">
    <tr>
      <th style="width=23%">Model</th>
      <th style="width=42px">BIOS</th>
      <th style="width=32px">HVM</th>
      <th style="width=32px">IOMMU</th>
      <th style="width=32px">SLAT</th>
      <th style="width=32px">TPM</th>
      <th style="width=42px">Qubes</th>
      <th style="width=42px">Xen</th>
      <th style="width=42px">Kernel</th>
      <th>Remark</th>
      <th style="width=20%">Credit</th>
    </tr>
    {% for device in site.hcl %}
    {% if device.type == 'desktop' or device.type == 'workstation' or device.type == 'server' %}
    {% include hcl-device.html %}
    {% endif  %}
    {% endfor %}
  </table>

  <h2 id="hardware-motherboards" class="add-left"><i class="fa fa-server"></i> Motherboards</h2>
  <table class="table table-hover table-bordered table-responsive " align="center">
    <tr>
      <th style="width=23%">Model</th>
      <th style="width=42px">BIOS</th>
      <th style="width=32px">HVM</th>
      <th style="width=32px">IOMMU</th>
      <th style="width=32px">SLAT</th>
      <th style="width=32px">TPM</th>
      <th style="width=42px">Qubes</th>
      <th style="width=42px">Xen</th>
      <th style="width=42px">Kernel</th>
      <th>Remark</th>
      <th style="width=20%">Credit</th>
    </tr>
    {% for device in site.hcl %}
    {% if device.type == 'motherboard' %}
    {% include hcl-device.html %}
    {% endif  %}
    {% endfor %}
  </table>
</div>
