---
layout: home
title: "Qubes OS: A reasonably secure operating system"
permalink: /
redirect_from:
- /wiki/
- /wiki/WikiStart/
- /trac/
- /trac/WikiStart/
---

<!-- Featured Content -->
<div class="home-banner text-center more-bottom">
  <div class="container-fluid">
    <div class="row more-bottom">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <h1 class="add-top">
          <strong>Qubes</strong> OS
          <small>A reasonably secure operating system</small>
        </h1>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row more-bottom">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="home-big-button">
          <a class="btn btn-lg btn-primary btn-block" href="/downloads/" role="button">
            Download &amp; Install<br>
            <small>Version 3.2</small>
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row more-top">
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
        <a class="black-link" href="/intro/">What is Qubes OS?</a>
      </div>
      <div class="col-lg-4 col-md-4">
        <a class="black-link" href="/video-tours/"><i class="fa fa-play-circle"></i> Watch a Video Tour</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="home-content container">

  <!-- Experts -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center"><i class="fa fa-thumbs-o-up"></i> What the experts are saying</h2>
    </div>
  </div>

  <div class="white-box more-bottom">
    <div class="row featured-quotes">
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar" href="https://twitter.com/Snowden/status/781493632293605376" target="_blank">
          <img src="attachment/site/picture-snowden.jpg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <a href="https://twitter.com/Snowden/status/781493632293605376" target="_blank">
          <blockquote>"If you're serious about security, Qubes OS is the best OS available today. It's what I use, and free."
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <footer>Edward Snowden<cite>, whistleblower and privacy advocate</cite></footer>
          </blockquote>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar" href="https://twitter.com/hashbreaker/status/577206817475850240" target="_blank">
          <img src="attachment/site/picture-dan-bernstein.jpg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <a href="https://twitter.com/hashbreaker/status/577206817475850240" target="_blank">
          <blockquote>"Happy thought of the day: An attacker who merely finds a browser bug can't listen to my microphone except when I've told Qubes to enable it."
            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            <footer>Daniel J. Bernstein<cite title="Source Title">, mathematician, cryptologist, computer scientist</cite></footer>
          </blockquote>
        </a>
      </div>
    </div>
    <div class="row featured-quotes">
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar" href="https://twitter.com/micahflee/status/577998730340622337" target="_blank">
          <img src="attachment/site/picture-micah-lee.jpg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <a href="https://twitter.com/micahflee/status/577998730340622337" target="_blank">
          <blockquote>"When I use Qubes I feel like a god. Software thinks that it's in control, that it can do what it wants? It can't. I'm in control."
            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            <footer>Micah Lee<cite title="Source Title">, Freedom of the Press Foundation, The Intercept</cite></footer>
          </blockquote>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar" href="https://twitter.com/isislovecruft" target="_blank">
          <img src="attachment/site/picture-isis.jpg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <a href="https://twitter.com/isislovecruft" target="_blank">
          <blockquote>"With Qubes OS, I feel more comfortable accessing Tor Project infrastructure from the same laptop I use to execute random GameBoy ROMs I downloaded from the internet."
            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            <footer>Isis Agora Lovecruft<cite title="Source Title">, cypherpunk, Tor Project core developer</cite></footer>
          </blockquote>
        </a>
      </div>
    </div>
    <div class="row featured-quotes add-bottom">
      <div class="col-lg-12 col-md-12 text-center">
        <a class="btn btn-small btn-primary" href="/experts/">More From The Experts</a>
      </div>
    </div>
  </div>

  <!-- News -->
  <div class="row">
  <div class="col-lg-6 col-md-6 more-bottom">
    <h2 class="text-center"><i class="fa fa-newspaper-o"></i> Media &amp; Press</h2>    
    <div class="white-box">
      <div class="featured-quotes">
          <a href="https://motherboard.vice.com/read/finally-a-reasonably-secure-operating-system-qubes-r3" target="_blank">
            <img src="attachment/site/motherboard-logo.png" class="logo">
            <blockquote>
              "Finally, a 'Reasonably-Secure' Operating System: Qubes R3"
              <footer>by J.M. Porup</footer>
            </blockquote>
          </a>
      </div>
      <div class="featured-quotes">
          <a href="https://www.economist.com/blogs/babbage/2014/03/computer-security" target="_blank">
            <img src="attachment/site/the-economist-logo.png" class="logo">
            <blockquote>
              "For those willing to put in the effort, Qubes is more secure than almost any other operating system available today"
              <footer>by J. M. P.</footer>
            </blockquote>
          </a>
      </div>
      <div class="featured-quotes">
          <a href="https://www.wired.com/2014/11/protection-from-hackers" target="_blank">
            <img src="attachment/site/wired-magazine-logo.png" class="logo">
            <blockquote>
              "So Rutkowska flipped the game, this time in favor of the defenders."
              <footer>by Andy Greenberg</footer>
            </blockquote>
          </a>
      </div>
      <a href="/news/" class="btn btn-sm btn-primary">More Media &amp; Press</a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 more-bottom">
    <h2 class="text-center"><i class="fa fa-bullhorn"></i> Announcements</h2>
    <div class="white-box">
      <ul class="list-unstyled remove-bottom">
        {% for post in site.posts limit:5 %}
        <li class="list-links">
          <a class="black-link" href="{{ post.url }}">
            {{ post.title }}
            <span class="detail">
              {% for category in post.categories %}{% if site.allowed_categories contains category %}
              <strong>{{ category | capitalize }}</strong>
              {% endif %}{% endfor %} on {{ post.date | date: "%b %-d, %Y" }}
            </span>
          </a>
        </li>
        {% endfor %}
        <li class="list-links-normal">
          <a href="/news/" class="btn btn-sm btn-primary">More Articles &amp; Announcements</a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <!-- Technology -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center"><i class="fa fa-cogs"></i> What's Inside of Qubes?</h2>
    </div>
  </div>

  <div class="white-box more-bottom">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <img src="attachment/site/xen-logo.svg" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="text-center add-bottom">Secure Compartmentalization</h3>
        <p>Qubes brings to your personal computer the security of the Xen hypervisor, the same software relied on by many major hosting providers to isolate websites and services from each other. <a href="/doc/architecture/">Learn more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <img src="attachment/site/OS-logos.svg" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="text-center add-bottom">Operating System Freedom</h3>
        <p>Can't decide which Linux distribution you prefer? Still need that one Windows program for work? With Qubes, you're not limited to just one OS. <a href="/doc/templates/">Learn more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <img src="attachment/site/whonix-tor.svg" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="text-center add-bottom">Serious Privacy</h3>
        <p>With Whonix integrated into Qubes, using the Internet anonymously over the Tor network is safe and easy. <a href="/doc/whonix/">Learn more</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Details: Awards / Follow -->
  <div class="row">
    <div class="col-lg-6 col-md-6 more-bottom">
      <h3 class="text-center"><i class="fa fa-file-text"></i> Recent Research</h3>
      <div class="white-box">
      <ul class="list-unstyled remove-bottom">
        {% for research in site.data.research.papers limit:5 %}
        <li class="list-links">
          <a class="black-link" href="{{research.url}}">
            {{research.title}}
            <span class="detail"><strong>{{research.author}}</strong>, {{research.date}}</span>
          </a>
        </li>
        {% endfor %}
        <li class="list-links-normal">
          <a href="/research/" class="btn btn-sm btn-primary">Read More Research</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 more-bottom">
      <h3 class="text-center"><i class="fa fa-trophy"></i> Awards &amp; Grants</h3>
      <div class="white-box">
      <ul class="list-unstyled remove-bottom">
      <li class="list-links text-center">
        <a href="https://nlnet.nl/" target="_blank">
          <img src="attachment/site/nlnet.gif" class="featured-logo center-block">
          <span>2016</span>
        </a>
      </li>
      <li class="list-links text-center">
        <a href="https://www.opentech.fund/project/qubes-os" target="_blank">
          <img src="attachment/site/OTF-logo.png" class="featured-logo center-block">
          <span>2015 and 2016</span>
        </a>
      </li>
      <li class="list-links text-center">
        <a href="https://www.accessnow.org/blog/2014/02/13/endpoint-security-prize-finalists-announced" target="_blank">
          <img src="attachment/site/access-innovation-prize.jpg" class="featured-logo center-block">
          <span>2014 Finalist for Endpoint Security</span>
        </a>
      </li>
      <li class="list-links text-center">
        <a href="/partners/">
          <img src="attachment/site/partners-shake.svg" class="center-block">
          <span>We would love for you to fund or partner with us</span>
        </a>
      </li>
      </ul>
      </div>
    </div>
  </div>

  <!-- Details: Get Involved -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center"><i class="fa fa-comments"></i> Join the Community!</h2>
    </div>
  </div>
  <div class="white-box more-bottom">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <a title="GitHub" href="https://github.com/QubesOS" class="fa fa-github fa-5x fa-fw black-icon" aria-hidden="true"></a>
        <a title="Twitter" href="https://twitter.com/QubesOS" class="fa fa-twitter fa-5x fa-fw" aria-hidden="true"></a>
        <a title="Reddit" href="https://www.reddit.com/r/Qubes/" class="fa fa-reddit fa-5x fa-fw" aria-hidden="true"></a>
        <a title="Facebook" href="https://www.facebook.com/QubesOS" class="fa fa-facebook fa-5x fa-fw" aria-hidden="true"></a>
        <a title="StackExchange" href="https://area51.stackexchange.com/proposals/98519/qubes-os" class="fa fa-stack-exchange fa-5x fa-fw" aria-hidden="true"></a>
        <a title="Mailing Lists" href="/mailing-lists/" class="fa fa-envelope-o fa-5x fa-fw black-icon" aria-hidden="true"></a>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
